.tg {
    border-color: inherit;
    text-align: left;
    font-weight: bold;
}

table {
    width: 50%;
}

table, th, td {
    font-size: 15px;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

.table {
    border: 3px solid black;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    background-color: rgba(255,255,255,0.5);
}

.co2{
    width: 35%;
}

@media screen and (min-width:900px){
    table, th, td {
        font-size: 20px;
    }
    .table{
        width: 70%;
    }
    .co2{
        width: 30%;
    }
}

.tg {
    font-size: 20px;
    text-align: center;
    vertical-align: center;
    border-bottom: 2px solid black;
    background-color: rgba(255,255,255,0.5);
}

.tg-2 {
    text-align: center;
}

.search {
    font-size: 18px;
    border: 2px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-left: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.7);
}

.none-search {
    text-align: center;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
}

.top-header {
    /*width: 400px;*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /*padding-top: 10px;
    padding-bottom: 10px;*/
}

.author {
    text-align: right;
    font-size: 9px;
    margin-right: 15px;
}

.table tr:hover {
    background-color: rgba(255,255,255,0.7)
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -999;
}

.bg img {
    min-height: 100%;
    min-width: 1000px;
    width: 100%;
}

@media screen and (max-width: 1000px) {
    img.bg {
        left: 50%;
        margin-left: -500px;
    }
}

.banner-bg {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
    position: absolute;
    left: 0;
    top: 0;
}

.container {
    background-color: rgba(255, 255, 255, .45);
    backdrop-filter: blur(3px);
    padding-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    vertical-align: middle;
}