.tg{
    border-color: inherit;
    text-align: left;
    font-weight: bold;
}

table{
    width: 50%;
}

table, th, td{
    font-size: 18px;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

.table{
    border: 3px solid black;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.tg{
    font-size: 22px;
    text-align: center;
    vertical-align: center;
    border-bottom: 2px solid black;
    background-color: #f1f1f1;
}

.tg-2{
    text-align: center;
}

.search{
    font-size: 18px;
    border: 2px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-left: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 80%;
}

.none-search{
    text-align: center;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
}

.top-header{
    width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.author{
    text-align: right;
    font-size: 9px;
}

.table tr:hover{
    background-color: #f1f1f1;
}

.bg{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -999;
}

.bg img{
    min-height: 100%;
    width: 100%;
    -webkit-filter: opacity(0.5);
}